@import "../assets/colors.scss";


.resume-container{
  & .divider{
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;

    & span{
      background-color: $standout-color;
      flex-grow: 1;
      height: 1px;
    }
  }
}

.blogDiv{
  min-height: 200px;
  transition: all 0.5s;
  opacity: 1;
}

.projectDiv{
  min-height: 250px;
}
.blogDivContainer{
  display: grid;
  column-gap: 0.6rem;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  justify-items: center;
}

.loadingIcon{
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 993px) {
  .blogDivContainer{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 769px) {
  .blogDivContainer{
    grid-template-columns: 1fr;
  }
}

@media(hover: hover){
  .projectDiv:hover,
  .blogDiv:hover{
    transform: scale(1.05);
  }
  .view-my-projects:hover{
     &::after{
       width: 100%;
     }
  }
}
