@import "../assets/colors.scss";


.resume-container{
  & .divider{
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;

    & span{
      background-color: $standout-color;
      flex-grow: 1;
      height: 1px;
    }
  }
}

.blogDiv{
  min-height: 200px;
  transition: opacity 0.5s;
  opacity: 1;
}

.projectDiv{
  min-height: 250px;
}

@media(hover: hover){
  .projectDiv:hover,
  .blogDiv:hover{
    transform: scale(1.05);
  }
  .view-my-projects:hover{
     &::after{
       width: 100%;
     }
  }
}
